.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 160px;
  padding: 24px;
}

.message {
  margin: 0;
  font-size: 18px;
}

.button {
  margin: 10px;
  padding: 10px;
  color: #fff;
  border-radius: 4px;
  background: rgb(60 62 68 / 0.6);

  transition: background 0.3s ease;

  &:not(:disabled) {
    background: rgb(60, 62, 68);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }

  &:not(:disabled):hover {
    background: rgba(151, 206, 76, 0.6);
  }
}
