.card {
  background: rgb(60, 62, 68);
  display: flex;
  color: #fff;
  border-radius: 8px;
  overflow: hidden;
}

.content {
  flex: 1;
  padding: 16px;

  a {
    &:hover {
      color: rgba(151, 206, 76, 0.9);
    }
  }

  p {
    padding: 8px 0;
    font-size: 16px;

    span {
      color: rgb(158, 158, 158);
    }
  }
}

.img {
  width: 200px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 8px 0 0 8px;
}
